// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zoom-wrapper-primary: mat.define-palette(mat.$indigo-palette);
$zoom-wrapper-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zoom-wrapper-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zoom-wrapper-theme: mat.define-light-theme(
  (
    color: (
      primary: $zoom-wrapper-primary,
      accent: $zoom-wrapper-accent,
      warn: $zoom-wrapper-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zoom-wrapper-theme);

#zmmtg-root {
  background-color: transparent !important;
}
.video-avatar__avatar-name {
  overflow: initial !important;
}
.zmwebsdk-makeStyles-panel-85 {
  width: 300px !important;
}
.zmwebsdk-makeStyles-panel-88 {
  width: 300px !important;
}
html,
body {
  height: 100%;
  min-width: auto !important;
  // background-color: transparent !important;
}
body {
  margin: 0;
  min-width: auto !important;
  background-color: white !important;
}
.align-middle .av-preview-container {
  width: auto !important;
}
#participant-window,
#chat-window {
  width: 300px !important;
}
#participant-window {
  height: auto !important;
}
.third-part-app-info__panel,
.meeting-info-icon__meeting-paper {
  width: 320px !important;
}
.meeting-title {
  display: none !important;
}
.full-screen-widget {
  display: none !important;
}

.zm-modal,
#settingsDialog,
.settings-dialog {
  width: 300px !important;
}

#settingsDialog,
.settings-dialog {
  height: 500px !important;
}

.settings-dialog .settings-tabs > .zmu-tabs__tab-container .zmu-tabs__tab-bar {
  width: 120px !important;
}
#content_container {
  width: 100% !important;
}
.media-preview-container {
  margin: 0 !important;
}
.av-preview-container {
  width: 300px !important;
}
.mini-layout-body {
  width: 300px !important;
}
#app-signal.pop-panel__button-wrap .pop-panel__button {
  display: none !important;
}
.meeting-info-container__full-screen {
  top: 50px !important;
}
.joinWindowBtn {
  background-color: #e7131a !important;
  border-color: #e7131a !important;
}
.chat-container--window {
  height: 300px !important;
}
.participants-section-container {
  height: 200px !important;
}
#media-preview-tooltip-container {
  left: 22px !important;
}
.sharee-container__indicator {
  display: none !important;
}
