// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zoom-wrapper-primary: mat.define-palette(mat.$indigo-palette);
$zoom-wrapper-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zoom-wrapper-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zoom-wrapper-theme: mat.define-light-theme(
  (
    color: (
      primary: $zoom-wrapper-primary,
      accent: $zoom-wrapper-accent,
      warn: $zoom-wrapper-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zoom-wrapper-theme);

.zmwebsdk-makeStyles-root-19,
// .zmwebsdk-makeStyles-root-26,
.zmwebsdk-makeStyles-root-55,
.zmwebsdk-makeStyles-root-906,
.zmwebsdk-makeStyles-root-1109,
.zmwebsdk-makeStyles-root-1114 {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #242424 !important;
  // @media (max-width: 600px) {
  //   height: 29rem !important;
  //   width: 19rem !important;
  // }
}
.zmwebsdk-makeStyles-panel-92,
.zmwebsdk-makeStyles-panel-85 {
  transform: translate(0px, -347px) !important;
}
#zmmtg-root {
  // z-index: -1;
  background-color: transparent !important;
}
.video-avatar__avatar-name {
  overflow: initial !important;
}
.zmwebsdk-makeStyles-panel-85 {
  width: 300px !important;
}
.zmwebsdk-makeStyles-panel-88 {
  width: 300px !important;
}
html,
body {
  height: 100%;
  min-width: auto !important;
  background-color: #242424 !important;
}
body {
  margin: 0;
  min-width: auto !important;
  background-color: #242424;
}
.align-middle .av-preview-container {
  width: auto !important;
}
#participant-window,
#chat-window {
  width: 300px !important;
}
.third-part-app-info__panel,
.meeting-info-icon__meeting-paper {
  width: 320px !important;
}
.zmwebsdk-makeStyles-root-79,
.zmwebsdk-makeStyles-root-85,
.zmwebsdk-makeStyles-panel-102,
.zmwebsdk-makeStyles-root-87,
.zmwebsdk-makeStyles-root-81,
.zmwebsdk-makeStyles-panel-98 {
  min-width: auto !important;
  width: fit-content !important;
}
@media (max-width: 600px) {
  .ReactVirtualized__List {
    width: 230px !important;
    height: 300px !important;
  }
}

@media (max-width: 600px) {
  .zmwebsdk-makeStyles-root-79 {
    transform: translate(-6rem, -1rem) !important;
    width: 16rem !important;
  }
  .zmwebsdk-makeStyles-chatCustomize-10 {
    transform: translate3d(2rem, 5px, 0px) !important;
  }
  .zmwebsdk-makeStyles-panel-87 {
    width: 300px !important;
  }
  .zmwebsdk-makeStyles-root-1114 {
    align-items: flex-start !important;
  }
  .zmwebsdk-makeStyles-list-68 {
    height: min(84vh - 178px, 484px) !important;
  }
  .zmwebsdk-makeStyles-settingCustomize-11 {
    transform: translate3d(2rem, 2rem, 0px) !important;
  }
  .zmwebsdk-makeStyles-paper-53,
  .zmwebsdk-makeStyles-paper-55 {
    margin-top: -7rem !important;
  }
}
.zmwebsdk-makeStyles-participantsCustomize-9 {
  transform: translate(3rem, 5rem) !important;
}
.zmwebsdk-MuiPaper-elevation1 {
  box-shadow: none !important;
}
// .zmwebsdk-MuiPaper-root {
//   background-color: white !important;
//   background: white !important;
// }
// .zmwebsdk-MuiButton-textSizeSmall {
//   color: black !important;
// }
// .zmwebsdk-MuiButton-label {
//   color: red !important;
//   background: black !important;
//   padding: 0.3em !important;
//   border-radius: 2rem !important;
// }
